@import "reset.scss";
//	
//	INDEX
//	
//	$0 SASS
//
//	$1 LAYOUT
//	$2 DAY
//	$3 LOGIN
//	$4 EDITOR
//
//	$Q Media Queries
//	

// $0 SASS
$c_white:#fff;
$c_black:#424242;
$c_face:#ccc;
$c_face_ok:#fc0;
$c_face_ok:#fc0;
$c_face_ko:#ff5335;

$f_base:'Varela Round', arial,sans-serif;
$m_px:16;

@function em($px, $base: $m_px) {
	@return ($px / $base) * 1em;
}

// $1 LAYOUT
html,
body.calendar,
.calendar #main{height:100%;}
body{
	background:$c_white;
	font:100% $f_base;
	color:$c_black;
	margin:0;
	}
.year{
	display:block;
	list-style:none;
	margin:3%;
	padding:0 0 4%;
	}
.day{
	float:left;
	position:relative;
	text-align:center;
	padding:em(10);
	}
.face{
	background:$c_face;
	border-radius:50%;
	color:#ccc;
	cursor:pointer;
	display:block;
	font-size:1.5em;
	font-style:normal;
	line-height:2em;
	margin:0 auto;
	text-align:center;
	width:2em;
	}
.face.ok{
	background:$c_face_ok;
	color:$c_black;
	}
.face.ko{
	background:#ff5335;
	color:#fff;
	}
.date{display:none;}
.summary{display:none;}

// $2 DAY
.fullscreen{
	height:100%;
	margin:0;
	}
.fullscreen .day{display:none}
.fullscreen .day.sel{
	display:block;
	float:none;
	text-align:center;
	}
.day.sel .face{
	font-size:10em;
	margin:15% auto 0;
	}
.day.sel .date{
	background: #FF5335;
	border-radius: .3em;
	color: #fff;
	display: inline-block;
	font-size: 1.5em;
	margin: 5% auto 0;
	padding:.5em 1em;
	width: 15%;
	}
.day.sel .summary{
	display:block;
	}

// $3 LOGIN


// $4 EDITOR
.editor{padding:em(50);}

// $Q Media Queries

@media screen and (min-width: 1024px) {
	.day{padding:em(16);}
	.day.sel .date{
		margin: 10% auto 0;
		width:35%;
		}
	}
@media screen and (max-width: 768px) {
	.day{padding:em(16);}
	.day.sel .date{
		margin: 10% auto 0;
		width:35%;
		}
	}
@media screen and (max-width: 480px) {
	.day{padding:em(20);}
	}
@media screen and (max-width: 320px) {
	.day{padding:em(13);}
	.day.sel .face{font-size:5.5em;}
	.day.sel .date{
		font-size:1em;
		margin: 10% auto 0;
		width:35%;
		}
	}
@media screen and (max-height: 320px) {
	.day{padding:em(13);}
	.day.sel .face{
		font-size:3.5em;
		margin-top:5%;
		}
	.day.sel .date{
		font-size:1em;
		margin: 2% auto 0;
		width:35%;
		}
	}


//@import "print.scss";
